.listWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}
.list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style: none;
}
.title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
}
.listItem {
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.listItem > a {
  display: block;
  padding: 10px 30px;
}
.listItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.listItem:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 1000px) {
  .listWrapper {
    flex-direction: row;
    padding-top: 0;
    align-items: center;
    height: 100%;
  }
  .title {
    display: none;
  }
  .list {
    flex-direction: row;
    margin-top: 0;
    height: 100%;
  }
  .listItem > a {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
