.listWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style: none;
}

.title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 20px;
  color: #dcf0ff;
}

.listItem {
  background-color: rgba(255, 255, 255, 0.03);
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.listItem > a {
  display: block;
  padding: 10px 30px;
}

.listItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.listItem:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.listItemActive {
  background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1000px) {
  .listWrapper {
    flex-direction: row;
    padding-top: 0;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
  }

  .title {
    display: none;
  }

  .list {
    flex-direction: row;
    margin-top: 0;
    height: 100%;
  }

  .listItem > a {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
